//Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: Monument Extended;
  src: url(../fonts/MonumentExtended-Regular.otf);
}
@font-face {
  font-family: Monument Extended;
  src: url(../fonts/MonumentExtended-Ultrabold.otf);
}
@font-face {
  font-family: Serenity;
  src: url(../fonts/Serenity.otf);
}

$defaultSize: 16px;

//Colors

$white: #ffffff;
$black: #000000;
$header-link-color: #333334;
$header-btn-color: #f42f2f;
$background: #f5b096;
$text-color-1: #505050;
$btn-text-color: #ef7f6d;
$green-1:#1ABC9C;
