@import "./mixin";
@import "./var";

body {
    width: 100%;
    min-height: 100vh;
}
.wrapper{
    width: 100%;
    height: 100%;

    .container{
        width: 1782px;
        margin: 0 auto;
        background-color: red;

        @media (max-width: 1440px) {
            width: 1376px;
        }
    }
}