@import "./mixin";
@import "./var";

*{
    @include default;
}

body {
    width: 100wh;
    min-height: 100vh;
    overflow-x: hidden;
}
.wrapper{
    max-width: 1976px;
    height: 100%;
    padding: 0 69px;
    @media (max-width: 1440px) {
        &{
         padding: 0 32px;
        }
     }

     @media (max-width: 580px) {
        &{
         padding: 0 0px;
        }
     }
    .container{
        position: relative;
        width: 100%;
        margin: 0 auto;
    }
}
.top{
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $top-bg;
    @media  (max-width: $mobile) {
        padding:54px 29px ;
    }
    >p{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        color: $white;
        text-align: center;
        
          @media  (max-width: $mobile) {
              font-size: 22px;
              
          }
            span{
                font-weight: bold;
                color: $btn-text-color;
            }
        }
    
}
.bold{
    font-weight: bold;
    
}
.title{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
 

    &::before{
        content: '';
        display: block;
        width: 100px;
        height: 2px;
        background-color: $black;
        margin-right: 32px;
        background-color: red;
    }
    .decor__font{
        display: flex;
        align-items: center;
       

      >  span{
            font-family: Serenity;
            font-style: normal;
            font-weight: normal;
            font-size: 104px;
            text-align: center;
            letter-spacing: -0.02em;
            color: $btn-text-color;
            margin-right: 29px;
           
            @media (max-width: $ipadePro){
                &{
                  
                    font-size: 80px;
                }
            }
            @media (max-width: $ipade){
                &{
                    
                    font-size: 60px;
                }
            }
            
        }
        >p{
           font-family: Monument Extended;
            font-style: normal;
            font-weight: normal;
            font-size: 35px;
            text-transform: capitalize;
            color: #505050;
            
            @media (max-width: $ipadePro){
                &{
                  
                    font-size: 36px;
                }
            }
            @media (max-width: $ipade){
                &{
                    
                    font-size: 28px;
                }
            }
        }
        .decor__font-green{
            color: $green-1;
        }
        
    }
    &__text{
        width: 100%;
        display: flex;
        left: 128px;
        bottom: -50px;
        position: absolute;
        @media (max-width: 1440px){
            &{
                
                bottom: -80px;
                
            }
        }
        @media (max-width: $ipadePro){
            &{
              
                font-size: 22px;
            }
        }
        @media (max-width: $ipade){
            &{
                
                font-size: 18px;
            }
        }
        
        > p{
            font-family: Monument Extended;
            font-style: normal;
            font-weight: normal;
            font-size: 40px;
            text-transform: capitalize;
            color: #505050;
            @media (max-width: $ipadePro){
                &{
                  
                    font-size: 35px;
                }
            }
            @media (max-width: $ipade){
                &{
                    
                    font-size: 36px;
                }
            }
        }
        .air{
            margin-left: 20px;
        }
    }

}
.center__line{
    &::before{
        margin-top: 55px;         
    }
}
.bottom__line{
    &::before{
        margin-top: 120px;         
    }
}

.left__block-img{
    width: 100%;
    height: 971px;
    display: flex;
    justify-content: flex-end;

    position: relative;

    &::before{
        content: '';
        display: block;
        width: 60%;
        height: 722px;
        background-color: $background;
        position: absolute;
        left: 0;
        bottom: 0;

        
    }

    > img{
        width: 537px;
        height: 971px;
        z-index: 1;
       
    }
    
}
.right__img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    position: relative;
    
    > img{
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: -50px;
        z-index: 1;
        @media (max-width: $ipadePro){
            &{
             width: 599px;
             height: 665px;
             bottom: -45px;
             right: 0;
             
            }
        }
        @media (max-width: $ipade){
            &{
                
                width: 477px;
                height: 530px;
                bottom: -30px;
            }
        }
        
    }
    &::after{
        content: '';
        display: block;
        width: 60%;
        height: 85%;
        background-color: $background;
        position: absolute;
        right: 0;
        bottom: 0;
        @media (max-width: 1440px){
            &{
                
                width: 60%;
            }
        }
        @media (max-width: $ipadePro){
            &{
              
                font-size: 22px;
            }
        }
        @media (max-width: $ipade){
            &{
                
                font-size: 18px;
            }
        }

    }
    
}
.green__text{
    color: $green-1;
}


.button__style{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        color: #FAFAFA;
    }

}
.pink__text{
   
    color: $btn-text-color;
}
