@import "./mixin";
@import "./var";

*{
    @include default;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    padding-top: 38px;
}
.wrapper{
    max-width: 1976px;
    height: 100%;
    padding: 0 69px;

    @media (max-width: 1440px) {
        &{
         padding: 0 32px;
        }
     }
    .container{
        position: relative;
        width: 100%;
        margin: 0 auto;
    }
}
.bold{
    font-weight: bold;
}