@import "./mixin";
@import "./var";

*{
    @include default;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    padding-top: 38px;
}
.wrapper{
    max-width: 1976px;
    height: 100%;
    padding: 0 69px;

    @media (max-width: 1440px) {
        &{
         padding: 0 32px;
        }
     }
    .container{
        position: relative;
        width: 100%;
        margin: 0 auto;
    }
}
.bold{
    font-weight: bold;
}
.title{
    width: 50%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

    &::before{
        content: '';
        display: block;
        width: 100px;
        height: 2px;
        background-color: $black;
        margin-right: 32px;
    }
    .decor__font{
        display: flex;
        align-items: center;
      >  span{
            font-family: Serenity;
            font-style: normal;
            font-weight: normal;
            font-size: 104px;
            line-height: 139.5%;
            text-align: center;
            letter-spacing: -0.02em;
            color: $btn-text-color;
            margin-right: 29px;
        }
        >p{
           font-family: Monument Extended;
            font-style: normal;
            font-weight: normal;
            font-size: 35px;
            line-height: 128.3%;
            text-transform: capitalize;
            color: #505050;
        }
    }
    &__text{
        width: 100%;
        display: flex;
        left: 128px;
        bottom: -50px;
        position: absolute;
        
        p{
            font-family: Monument Extended;
            font-style: normal;
            font-weight: normal;
            font-size: 35px;
            line-height: 128.3%;
            text-transform: capitalize;
            color: #505050;
        }
    }

}
.center__line{
    &::before{
        margin-top: 55px;         
    }
}

.left__block-img{
    width: 100%;
    height: 971px;
    display: flex;
    justify-content: flex-end;

    position: relative;

    &::before{
        content: '';
        display: block;
        width: 60%;
        height: 722px;
        background-color: $background;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    > img{
        width: 537px;
        height: 971px;
        z-index: 1;
       
    }
}
.osf{
    display: flex;
    > span{
        display: block;
        width: 4px;
        height: 7px;
        background-image: url(../images/icon/Vector.png);
        background-size: cover;
    }
}
.green__text{
    color: $green-1;
}
.pink__text{
    font-weight: bold;
    color: $btn-text-color;
}