@import "../style/style.scss";
.section-5{
    width: 100%;
    display: flex;
    flex-direction: column;
   
    &__content{
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 90px;

        .step__card{
            height: 360px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;

            &::before{
                content: '';
                display: block;
                position: absolute;
                background-repeat: no-repeat;
                background-size: contain;
                left: -50%;
            }
            &:nth-child(1){
                width: 360px;
                &::before{
                    width: 216px;
                    height: 184px;
                    top: 15%;
                    background-image: url(../images/icon/step1.png);
                }
            }
            &:nth-child(2){
                width: 287px;
                &::before{
                    width: 121px;
                    height: 123px;
                    top: 25%;
                    background-image: url(../images/icon/step2.png);
                }
            }
            &:nth-child(3){
                width: 313px;
                &::before{
                    width: 178px;
                    height: 103px;
                    top: 25%;
                    background-image: url(../images/icon/step3.png);
                }
            }
        }

        
        .step__name{
            
            display: flex;
            margin: 29px 0;
            &::before {
                content: '';
                display: block;
                width: 22.25px;
                height: 22.25px;
                border-radius: 50%;
                border: 5px solid $border-color;
                box-sizing: border-box;
                margin-right: 10px;
            }
            > span{
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 21px;
                line-height: 128.3%;
                color: $black;
            }
        }
        .step__contant{
            width: 360px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .step__title{
            margin-bottom: 12px;
            > span {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 800;
                font-size: 38px;
                line-height: 46px;
                letter-spacing: -0.02em;
                text-transform: uppercase;
                color: $green-1;
            }
        }
        .step__desc{
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.02em;
            color: #5F5F5F;
            @media (max-width: 1440px) {
                &{
                    font-size: 14px;
                }
            }
            @media (max-width: 1024px) {
                &{
                    font-size: 11px;
                }
            }

            &-1{
                width: 360px;
                @media (max-width: 1440px) {
                    &{
                        width: 210px;
                    }
                }
                @media (max-width: 1024px) {
                    &{
                        width: 195px;
                    }
                }
            }
            &-2{
                width: 287px;
                @media (max-width: 1440px) {
                    &{
                        width: 195px;
                    }
                }
                @media (max-width: 1024px) {
                    &{
                        width: 151px;
                    }
                }
            }
            &-3{
                width: 165px;
                @media (max-width: 1440px) {
                    &{
                        width: 131px;
                    }
                }
                @media (max-width: 1024px) {
                    &{
                        width: 143px;
                    }
                }
            }
        }
    }
    &__desc{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 132%;
        align-items: center;
        letter-spacing: -0.02em;
        color: #111111;
        @media (max-width: 1440px) {
            &{
                font-size: 23px;
            }
        }
    }
    
}