@import "../style/style.scss";
.section-5{
    width: 100%;
    display: flex;
    flex-direction: column;
   
    &__content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 90px;

        .step__card{
            width: 33.333%;
            height: 360px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            &::before{
                content: '';
                display: block;
                position: absolute;
                background-repeat: no-repeat;
                background-size: contain;
                
            }
            &:nth-child(1){
                &::before{
                    width: 216px;
                    height: 184px;
                    top: calc(50% - 130px);
                    left: -100px;
                    background-image: url(../images/icon/step1.png);
                }
            }
            &:nth-child(2){
                &::before{
                    width: 121px;
                    height: 123px;
                    top: calc(50% - 123px);
                    left: -80px;
                    background-image: url(../images/icon/step2.png);
                }
            }
            &:nth-child(3){
                &::before{
                    width: 178px;
                    height: 103px;
                    top: calc(50% - 103px);
                    left: -60px;
                    background-image: url(../images/icon/step3.png);
                }
            }
        }

        
        .step__name{
            width: 360px;
            display: flex;
            margin: 29px 0;
            &::before {
                content: '';
                display: block;
                width: 22.25px;
                height: 22.25px;
                border-radius: 50%;
                border: 5px solid $border-color;
                box-sizing: border-box;
                margin-right: 10px;
            }
            > span{
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 21px;
                line-height: 128.3%;
                color: $black;
            }
        }
        .step__contant{
            width: 360px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .step__title{
            margin-bottom: 12px;
            > span {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 800;
                font-size: 38px;
                line-height: 46px;
                letter-spacing: -0.02em;
                text-transform: uppercase;
                color: $green-1;
            }
        }
        .step__desc{
            width: 100%;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.02em;
            color: #5F5F5F;
        }
    }
    
}