@import "../style/style.scss";
.section-4{
    width: 100%;
    display: flex;
    flex-direction: column;
   
    &__content{
        width: 100%;
        height: 971px;
        display: flex;
        margin-top: 38px;
        @media (max-width: 1024px) {
            height: auto;
        }
    }
    &__left{
        width: 40%;
        display: flex;
        @media (max-width: 1024px) {
            width: 50%;
            align-items: flex-end;
            
        }
    }
    &__right{
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        @media (max-width: 1024px) {
            width: 50%;
            height: auto;
        }

        .span{
            margin: 0px 5px;
        }

    }
    .right__top{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #FFFFFF;
        box-shadow: 0px 10px 40px rgba(80, 80, 80, 0.08);
        padding: 32px 35px;
    }
    .right__bottom{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 36px;
        background: #FAFAFA;
        padding: 32px 35px;
        @media (max-width: 1440px){
            &{
                margin-top: 26px;
            }
        }
        
    }
    .right__title{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        
        @media (max-width: 1440px){
            &{
                font-size: 14px;
            }
        }
        @media (max-width: 1024px){
            &{
                font-size: 11px;
            }
        }
        &-text{
            display: inline-block;
            
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            letter-spacing: -0.02em;
            color: #505050;
            position: relative;
            @media (max-width: 1440px){
                &{
                    font-size: 13px;  
                }
            }
            @media (max-width: 1024px){
                &{
                    font-size: 11px;  
                }
            }
            &::before{
                content: '';
                width: 10px;
                height: 7px;
                position: absolute;
                top: 0;
                left: -10px;
                background-image: url(../images/icon/Vector.png),url(../images/icon/Vector.png);
                background-size: contain,contain;
                background-repeat: no-repeat,no-repeat;
                background-position: left,right;
            }
            &::after{
                content: '';
                width: 10px;
                height: 7px;
                position: absolute;
                bottom: 0;
                right: -10px;
                background-image: url(../images/icon/Vector.png),url(../images/icon/Vector.png);
                background-size: contain,contain;
                background-repeat: no-repeat,no-repeat;
                background-position: left,right;
                transform: rotate(180deg);
            }
            
        }
        
        
       
    }
    .span{
        margin: 0px 5px;
    }
    .right__desc{
        > p{
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            display: flex;
            align-items: center;
            letter-spacing: -0.02em;
            color: #333334;
        }
        @media (max-width: 1440px){
            &{
                > p{
                    font-size: 14px;
                    line-height: 17px;
                }
            }
        }
        @media (max-width: 1024px){
            &{
                > p{
                    font-size: 13px;
                    line-height: 15px;
                }
            }
        }
        
    }
    margin-bottom: 100px;
}