@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: Monument Extended;
  src: url(../fonts/MonumentExtended-Regular.otf);
}

* {
  text-decoration: none;
  list-style: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  padding-top: 38px;
}

.wrapper {
  max-width: 1976px;
  height: 100%;
  padding: 0 69px;
}

@media (max-width: 1440px) {
  .wrapper {
    padding: 0 32px;
  }
}

.wrapper .container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

.section-1 {
  width: 100%;
  height: 922px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F5B096;
  margin-bottom: 50px;
  margin-top: 50px;
}

.section-1__title {
  height: 271px;
  padding-top: 55px;
  font-family: Monument Extended;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  letter-spacing: 0.09em;
  color: #505050;
  position: relative;
}

.section-1__title::before {
  content: '';
  display: block;
  width: 25%;
  height: 3px;
  position: absolute;
  background-color: #ffffff;
  bottom: 0;
  left: -75px;
}

@media (max-width: 1440px) {
  .section-1__title::before {
    width: 55%;
  }
}

.section-1__title-1 {
  position: absolute;
  left: -13px;
}

.section-1__title-2 {
  font-size: 70px;
  position: absolute;
  left: 0px;
  top: 71px;
}

.section-1__subtitle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: #ffffff;
}

.section-1__btn {
  width: 295.92px;
  height: 71.4px;
  background: #ffffff;
  -webkit-transition: .3s;
  transition: .3s;
}

.section-1__btn > a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  color: #EF7F6D;
  -webkit-transition: .3s;
  transition: .3s;
}

.section-1__btn:hover {
  background-color: #EF7F6D;
}

.section-1__btn:hover a {
  color: #ffffff;
}

.section-1__links {
  padding-top: 100px;
}

.section-1__links > a {
  font-size: 30px;
  color: white;
  margin: 0 19px;
  -webkit-transition: .3s;
  transition: .3s;
}

.section-1__links > a:first-child {
  margin-left: 0;
}

.section-1__links > a:hover {
  color: #EF7F6D;
}

.section-1__left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 75px;
}

.section-1__right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
/*# sourceMappingURL=section-1.css.map */