@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: Monument Extended;
  src: url(../fonts/MonumentExtended-Regular.otf);
}

@font-face {
  font-family: Monument Extended;
  src: url(../fonts/MonumentExtended-Ultrabold.otf);
}

@font-face {
  font-family: Serenity;
  src: url(../fonts/Serenity.otf);
}

* {
  text-decoration: none;
  list-style: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100wh;
  min-height: 100vh;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1976px;
  height: 100%;
  padding: 0 69px;
}

@media (max-width: 1440px) {
  .wrapper {
    padding: 0 32px;
  }
}

@media (max-width: 580px) {
  .wrapper {
    padding: 0 0px;
  }
}

.wrapper .container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.top {
  width: 100%;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #19334A;
}

.top > p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: #ffffff;
}

.top > p span {
  font-weight: bold;
  color: #ef7f6d;
}

.bold {
  font-weight: bold;
}

.title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.title::before {
  content: '';
  display: block;
  width: 100px;
  height: 2px;
  background-color: #000000;
  margin-right: 32px;
  background-color: red;
}

.title .decor__font {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title .decor__font > span {
  font-family: Serenity;
  font-style: normal;
  font-weight: normal;
  font-size: 104px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ef7f6d;
  margin-right: 29px;
}

@media (max-width: 1024px) {
  .title .decor__font > span {
    font-size: 80px;
  }
}

@media (max-width: 768px) {
  .title .decor__font > span {
    font-size: 60px;
  }
}

.title .decor__font > p {
  font-family: Monument Extended;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  text-transform: capitalize;
  color: #505050;
}

@media (max-width: 1024px) {
  .title .decor__font > p {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .title .decor__font > p {
    font-size: 28px;
  }
}

.title .decor__font .decor__font-green {
  color: #1ABC9C;
}

.title__text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 128px;
  bottom: -50px;
  position: absolute;
}

@media (max-width: 1440px) {
  .title__text {
    bottom: -80px;
  }
}

@media (max-width: 1024px) {
  .title__text {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .title__text {
    font-size: 18px;
  }
}

.title__text > p {
  font-family: Monument Extended;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  text-transform: capitalize;
  color: #505050;
}

@media (max-width: 1024px) {
  .title__text > p {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .title__text > p {
    font-size: 36px;
  }
}

.title__text .air {
  margin-left: 20px;
}

.center__line::before {
  margin-top: 55px;
}

.bottom__line::before {
  margin-top: 120px;
}

.left__block-img {
  width: 100%;
  height: 971px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.left__block-img::before {
  content: '';
  display: block;
  width: 60%;
  height: 722px;
  background-color: #f5b096;
  position: absolute;
  left: 0;
  bottom: 0;
}

.left__block-img > img {
  width: 537px;
  height: 971px;
  z-index: 1;
}

.right__img {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.right__img > img {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -50px;
  z-index: 1;
}

@media (max-width: 1024px) {
  .right__img > img {
    width: 599px;
    height: 665px;
    bottom: -45px;
    right: 0;
  }
}

@media (max-width: 768px) {
  .right__img > img {
    width: 477px;
    height: 530px;
    bottom: -30px;
  }
}

.right__img::after {
  content: '';
  display: block;
  width: 60%;
  height: 85%;
  background-color: #f5b096;
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (max-width: 1440px) {
  .right__img::after {
    width: 60%;
  }
}

@media (max-width: 1024px) {
  .right__img::after {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .right__img::after {
    font-size: 18px;
  }
}

.green__text {
  color: #1ABC9C;
}

.button__style {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__style a {
  color: #FAFAFA;
}

.pink__text {
  color: #ef7f6d;
}

.section-3__block1 {
  background: #FAFAFA;
  border: 2px solid #ECECEC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 446px;
}

.section-3__block1__info p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  margin: 0 22px;
}

.section-3__block1__info p:nth-child(1) {
  color: #333334;
}

.section-3__block1__info p:nth-child(2) {
  color: #111111;
}

.section-3__block1__info p span {
  font-family: Monument Extended;
  font-style: normal;
  font-size: 46px;
  line-height: 128.3%;
}

.section-3__block1-button {
  margin-top: 54px;
}

.section-3__block1-button__btn {
  width: 349.82px;
  height: 88.72px;
  background: #ef7f6d;
}

.section-3__block2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 113px;
}

.section-3__block2 > p {
  width: 640px;
  height: 74px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 132%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #111111;
  margin: 0 auto;
}

.section-3__block2 > p span {
  color: #ef7f6d;
}

.section-3__block3 {
  width: 100%;
  height: 685px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-top: 74px;
}

.section-3__block3__couchings {
  width: 1460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-3__block3__couching {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section-3__block3__couching .couching__info {
  width: 400px;
  height: 470px;
  background: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border: 2px solid #ECECEC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: flex;
  align-items: flex-end;
}

.section-3__block3__couching .couching__info .img-1 {
  background-image: url(./couching_img/1.png);
}

.section-3__block3__couching .couching__info .img-2 {
  background-image: url(./couching_img/2.png);
}

.section-3__block3__couching .couching__info .img-3 {
  background-image: url(./couching_img/3.png);
}

.section-3__block3__couching .couching__img {
  width: 283px;
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
}

.section-3__block3__couching .couching__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-3__block3__couching .couching__title span:nth-child(1) {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  color: #1ABC9C;
}

.section-3__block3__couching .couching__title span:nth-child(2) {
  font-family: Montserrat;
  font-style: normal;
  font-size: 24px;
  line-height: 150.1%;
  text-align: center;
}

.section-3__block3__couching .couching__title span:nth-child(3) {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #484848;
}

.section-3__block3__couching .couching__btn {
  background: #1ABC9C;
  width: 194px;
  height: 66px;
  margin: 24px  0 44px 0;
}
/*# sourceMappingURL=section-3.css.map */