@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: Monument Extended;
  src: url(../fonts/MonumentExtended-Regular.otf);
}

@font-face {
  font-family: Monument Extended;
  src: url(../fonts/MonumentExtended-Ultrabold.otf);
}

@font-face {
  font-family: Serenity;
  src: url(../fonts/Serenity.otf);
}

.section-3 {
  height: 632px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .section-3 {
    height: 450px;
  }
}

@media (max-width: 768px) {
  .section-3 {
    height: 351px;
  }
}

@media (max-width: 480px) {
  .section-3 {
    height: auto;
  }
}

.section-3__block1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-3__block1 > p {
  width: 890px;
  height: 100px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 33px;
  line-height: 132%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #111111;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .section-3__block1 > p {
    width: 642px;
    height: 74px;
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .section-3__block1 > p {
    width: 480px;
    height: 54px;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .section-3__block1 > p {
    width: 375px;
    height: 54px;
    font-size: 14px;
  }
}

.section-3__block1 > p span {
  color: #ef7f6d;
  font-weight: 600;
}

.section-3__block2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.section-3__block2__couchings {
  width: 1360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1440px) {
  .section-3__block2__couchings {
    width: 1245px;
  }
}

@media (max-width: 1024px) {
  .section-3__block2__couchings {
    width: 928px;
  }
}

@media (max-width: 768px) {
  .section-3__block2__couchings {
    width: 657px;
  }
}

@media (max-width: 480px) {
  .section-3__block2__couchings {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.section-3__block2__couching .couching__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-3__block2__couching .couching__info .img-1 {
  background-image: url(./couching_img/1.png);
}

.section-3__block2__couching .couching__info .img-2 {
  background-image: url(./couching_img/2.png);
}

.section-3__block2__couching .couching__info .img-3 {
  background-image: url(./couching_img/3.png);
}

@media (max-width: 480px) {
  .section-3__block2__couching .couching__info {
    margin-top: 75px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.section-3__block2__couching .couching__img {
  width: 149px;
  height: 149px;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1024px) {
  .section-3__block2__couching .couching__img {
    width: 128px;
    height: 128px;
  }
}

@media (max-width: 768px) {
  .section-3__block2__couching .couching__img {
    width: 92px;
    height: 92px;
  }
}

.section-3__block2__couching .couching__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 55px;
}

.section-3__block2__couching .couching__title span:nth-child(1) {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  color: #1ABC9C;
}

@media (max-width: 1024px) {
  .section-3__block2__couching .couching__title span:nth-child(1) {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .section-3__block2__couching .couching__title span:nth-child(1) {
    font-size: 14px;
  }
}

.section-3__block2__couching .couching__title span:nth-child(2) {
  font-family: Montserrat;
  font-style: normal;
  font-size: 24px;
  line-height: 150.1%;
  text-align: center;
}

@media (max-width: 1024px) {
  .section-3__block2__couching .couching__title span:nth-child(2) {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .section-3__block2__couching .couching__title span:nth-child(2) {
    font-size: 14px;
  }
}

.section-3__block2__couching .couching__title span:nth-child(3) {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #484848;
}

@media (max-width: 1024px) {
  .section-3__block2__couching .couching__title span:nth-child(3) {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .section-3__block2__couching .couching__title span:nth-child(3) {
    font-size: 12px;
  }
}

.section-3__block2__couching .couching__btn {
  background: #1ABC9C;
  width: 190px;
  height: 66px;
  margin-top: 24px;
}

@media (max-width: 1024px) {
  .section-3__block2__couching .couching__btn {
    width: 144.6px;
    height: 50.14px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .section-3__block2__couching .couching__btn {
    width: 105.66px;
    height: 36.64px;
    font-size: 10px;
  }
}
/*# sourceMappingURL=section-3.css.map */