@import "../style/style.scss";

p{
    margin: 0;
}
.section-2{
    width: 100%;
    height: 1278px;
    border:1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__coach{
        width: 100%;
        height: 533px;
        box-shadow: 0px 10px 15px rgba(80, 80, 80, 0.08);
        background-color: red;
    }
    &__hola{
        width: 100%;
        height: 632px;
        background-color: #FAFAFA;
        display: flex;
        justify-content: space-around;
        align-items: center;    
        &-text{
            width: 582px;
            height: 380px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            >img{
              width: 337.56px;
            }
            >p{
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 28px;
                line-height: 132%;
                color: #111111;
                margin: 0;
            }
        }
        &-air{
            width: 730px;
            height: 470px;
            background:linear-gradient(to right,$btn-text-color 0 587px,transparent 587px);
            transform:translateY(162px) translateX(100px);
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            &-title{
                width: 256px;
                height: 332px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 29px 0 0 39px;
                >img{
                    width: 240.59px;
                    height: 113.96px;
                    transform: rotate(10deg);
                }
                >p{
                    font-family: Serenity;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 54px;
                    line-height: 77px;
                    text-align: center;
                    color: $white;
                }
            }
            >img{
                width: 461px;
                height: 692px;
            }
        }
    }
}