@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: Monument Extended;
  src: url(../fonts/MonumentExtended-Regular.otf);
}

@font-face {
  font-family: Monument Extended;
  src: url(../fonts/MonumentExtended-Ultrabold.otf);
}

@font-face {
  font-family: Serenity;
  src: url(../fonts/Serenity.otf);
}

* {
  text-decoration: none;
  list-style: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100wh;
  min-height: 100vh;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1976px;
  height: 100%;
  padding: 0 69px;
}

@media (max-width: 1440px) {
  .wrapper {
    padding: 0 32px;
  }
}

@media (max-width: 580px) {
  .wrapper {
    padding: 0 0px;
  }
}

.wrapper .container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.top {
  width: 100%;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #19334A;
}

.top > p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: #ffffff;
}

.top > p span {
  font-weight: bold;
  color: #ef7f6d;
}

.bold {
  font-weight: bold;
}

.title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.title::before {
  content: '';
  display: block;
  width: 100px;
  height: 2px;
  background-color: #000000;
  margin-right: 32px;
  background-color: red;
}

.title .decor__font {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title .decor__font > span {
  font-family: Serenity;
  font-style: normal;
  font-weight: normal;
  font-size: 104px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ef7f6d;
  margin-right: 29px;
}

@media (max-width: 1024px) {
  .title .decor__font > span {
    font-size: 80px;
  }
}

@media (max-width: 768px) {
  .title .decor__font > span {
    font-size: 60px;
  }
}

.title .decor__font > p {
  font-family: Monument Extended;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  text-transform: capitalize;
  color: #505050;
}

@media (max-width: 1024px) {
  .title .decor__font > p {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .title .decor__font > p {
    font-size: 28px;
  }
}

.title .decor__font .decor__font-green {
  color: #1ABC9C;
}

.title__text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 128px;
  bottom: -50px;
  position: absolute;
}

@media (max-width: 1440px) {
  .title__text {
    bottom: -80px;
  }
}

@media (max-width: 1024px) {
  .title__text {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .title__text {
    font-size: 18px;
  }
}

.title__text > p {
  font-family: Monument Extended;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  text-transform: capitalize;
  color: #505050;
}

@media (max-width: 1024px) {
  .title__text > p {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .title__text > p {
    font-size: 36px;
  }
}

.title__text .air {
  margin-left: 20px;
}

.center__line::before {
  margin-top: 55px;
}

.bottom__line::before {
  margin-top: 120px;
}

.left__block-img {
  width: 100%;
  height: 971px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.left__block-img::before {
  content: '';
  display: block;
  width: 60%;
  height: 722px;
  background-color: #f5b096;
  position: absolute;
  left: 0;
  bottom: 0;
}

.left__block-img > img {
  width: 537px;
  height: 971px;
  z-index: 1;
}

.right__img {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.right__img > img {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -50px;
  z-index: 1;
}

@media (max-width: 1024px) {
  .right__img > img {
    width: 599px;
    height: 665px;
    bottom: -45px;
    right: 0;
  }
}

@media (max-width: 768px) {
  .right__img > img {
    width: 477px;
    height: 530px;
    bottom: -30px;
  }
}

.right__img::after {
  content: '';
  display: block;
  width: 60%;
  height: 85%;
  background-color: #f5b096;
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (max-width: 1440px) {
  .right__img::after {
    width: 60%;
  }
}

@media (max-width: 1024px) {
  .right__img::after {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .right__img::after {
    font-size: 18px;
  }
}

.green__text {
  color: #1ABC9C;
}

.button__style {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__style a {
  color: #FAFAFA;
}

.pink__text {
  color: #ef7f6d;
}

p {
  margin: 0;
}

.section-2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-2__coach {
  width: 100%;
  -webkit-box-shadow: 0px 10px 15px rgba(80, 80, 80, 0.08);
          box-shadow: 0px 10px 15px rgba(80, 80, 80, 0.08);
  margin-bottom: 56px;
}

.section-2__coach-text {
  padding: 0  98px 58px  185px;
}

.section-2__coach-text > p:first-child {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 132%;
  padding-top: 68px;
}

.section-2__coach-text-osf {
  font-family: Montserrat;
  font-style: italic;
  font-weight: normal;
  font-size: 28px;
  line-height: 140%;
  text-align: center;
  padding-top: 50px;
}

.section-2__coach-text-osf .osf-left {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.section-2__coach-text-osf .osf-left > span {
  width: 8px;
  height: 13px;
}

.section-2__coach-text-osf .osf-right > span {
  width: 8px;
  height: 13px;
}

.section-2__hola {
  width: 100%;
  margin-top: 56px;
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-2__hola-text {
  width: 582px;
  height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-2__hola-text > img {
  width: 337.56px;
}

.section-2__hola-text > p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 132%;
  margin: 0;
}

.section-2__hola-air {
  width: 730px;
  height: 470px;
  background: linear-gradient(to right, #ef7f6d 0 587px, transparent 587px);
  -webkit-transform: translateY(162px) translateX(100px);
          transform: translateY(162px) translateX(100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.section-2__hola-air-title {
  width: 256px;
  height: 332px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0  0  39px 29px;
}

.section-2__hola-air-title > img {
  width: 240.59px;
  height: 113.96px;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.section-2__hola-air-title > p {
  font-family: Serenity;
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
  line-height: 77px;
  text-align: center;
  color: #ffffff;
}

.section-2__hola-air > img {
  width: 461px;
  height: 692px;
}

@media (max-width: 1440px) {
  .section-2__coach-text {
    padding: 0  60px 28px  150px;
  }
  .section-2__title {
    width: 80%;
  }
}

@media (max-width: 1020px) {
  .section-2__coach-text {
    padding: 0  20px 8px  80px;
  }
  .section-2__title {
    width: 100%;
  }
}
/*# sourceMappingURL=section-2.css.map */