@import "../style/style.scss";

p{
    margin: 0;
}
.section-2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__coach{
        width: 100%;
        box-shadow: 0px 10px 15px rgba(80, 80, 80, 0.08);
        margin-bottom:56px;
        &-text{
            padding:0  98px 58px  185px;
            &>p:first-child{
                font-family:Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 28px;
                line-height: 132%;
                padding-top: 68px;
            }
            &-osf{
                font-family:Montserrat;
                font-style: italic;
                font-weight: normal;
                font-size: 28px;
                line-height: 140%;
                text-align: center;
                padding-top: 50px;

                .osf-left{
                    transform: translateY(10px);
                    &>span{
                        width: 8px;
                        height: 13px;
                    }
                }
                .osf-right{
                    &>span{
                        width: 8px;
                        height: 13px;
                    }
                }
            }
        }
    }
    &__hola{
        width: 100%;
        margin-top: 56px;
        background-color: #FAFAFA;
        display: flex;
        justify-content: space-around;
        align-items: center;    
        &-text{
            width: 582px;
            height: 380px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            >img{
              width: 337.56px;
            }
            >p{
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 28px;
                line-height: 132%;
                // color: #111111;
                margin: 0;
            }
        }
        &-air{
            width: 730px;
            height: 470px;
            background:linear-gradient(to right,$btn-text-color 0 587px,transparent 587px);
            transform:translateY(162px) translateX(100px);
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            &-title{
                width: 256px;
                height: 332px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin:  0  0  39px 29px;
                >img{
                    width: 240.59px;
                    height: 113.96px;
                    transform: rotate(10deg);
                }
                >p{
                    font-family: Serenity;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 54px;
                    line-height: 77px;
                    text-align: center;
                    color: $white;
                }
            }
            >img{
                width: 461px;
                height: 692px;
            }
        }
    }
}
@media (max-width:1440px){
    .section-2__coach-text{
        padding:0  60px 28px  150px;
    }
    .section-2__title{
        width: 80%;
    }
}
@media (max-width:1020px){
    .section-2__coach-text{
        padding:0  20px 8px  80px;
    }
    .section-2__title{
        width: 100%;
    }
}