@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: Monument Extended;
  src: url(../fonts/MonumentExtended-Regular.otf);
}

@font-face {
  font-family: Monument Extended;
  src: url(../fonts/MonumentExtended-Ultrabold.otf);
}

@font-face {
  font-family: Serenity;
  src: url(../fonts/Serenity.otf);
}

* {
  text-decoration: none;
  list-style: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1976px;
  height: 100%;
  padding: 0 69px;
}

@media (max-width: 1440px) {
  .wrapper {
    padding: 0 32px;
  }
}

@media (max-width: 1440px) {
  .wrapper {
    padding: 0 31px;
  }
}

.wrapper .container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

.title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.title::before {
  content: '';
  display: block;
  width: 100px;
  height: 2px;
  background-color: #000000;
  margin-right: 32px;
}

.title .decor__font {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title .decor__font > span {
  font-family: Serenity;
  font-style: normal;
  font-weight: normal;
  font-size: 104px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ef7f6d;
  margin-right: 29px;
}

@media (max-width: 1024px) {
  .title .decor__font > span {
    font-size: 80px;
  }
}

@media (max-width: 768px) {
  .title .decor__font > span {
    font-size: 60px;
  }
}

.title .decor__font > p {
  font-family: Monument Extended;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  text-transform: capitalize;
  color: #505050;
}

@media (max-width: 1024px) {
  .title .decor__font > p {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .title .decor__font > p {
    font-size: 28px;
  }
}

.title .decor__font .decor__font-green {
  color: #1ABC9C;
}

.title__text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 128px;
  bottom: -50px;
  position: absolute;
}

@media (max-width: 1440px) {
  .title__text {
    bottom: -80px;
  }
}

@media (max-width: 1024px) {
  .title__text {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .title__text {
    font-size: 18px;
  }
}

.title__text > p {
  font-family: Monument Extended;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  text-transform: capitalize;
  color: #505050;
}

@media (max-width: 1024px) {
  .title__text > p {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .title__text > p {
    font-size: 36px;
  }
}

.title__text .air {
  margin-left: 20px;
}

.center__line::before {
  margin-top: 55px;
}

.bottom__line::before {
  margin-top: 120px;
}

.left__block-img {
  width: 100%;
  height: 971px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.left__block-img::before {
  content: '';
  display: block;
  width: 60%;
  height: 722px;
  background-color: #f5b096;
  position: absolute;
  left: 0;
  bottom: 0;
}

.left__block-img > img {
  width: 537px;
  height: 971px;
  z-index: 1;
}

.right__img {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.right__img > img {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -50px;
  z-index: 1;
}

@media (max-width: 1024px) {
  .right__img > img {
    width: 599px;
    height: 665px;
    bottom: -45px;
    right: 0;
  }
}

@media (max-width: 768px) {
  .right__img > img {
    width: 477px;
    height: 530px;
    bottom: -30px;
  }
}

.right__img::after {
  content: '';
  display: block;
  width: 60%;
  height: 85%;
  background-color: #f5b096;
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (max-width: 1440px) {
  .right__img::after {
    width: 60%;
  }
}

@media (max-width: 1024px) {
  .right__img::after {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .right__img::after {
    font-size: 18px;
  }
}

.green__text {
  color: #1ABC9C;
}

.button__style {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__style a {
  color: #FAFAFA;
}

.pink__text {
  color: #ef7f6d;
}

.section-7 {
  width: 100%;
  padding-bottom: 50px;
}

.section-7__title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-7__title > p {
  margin: 0;
  margin-top: 50px;
  font-family: Serenity;
  font-style: normal;
  font-weight: normal;
  font-size: 110px;
  line-height: 139.5%;
  text-align: center;
  letter-spacing: -0.02em;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #EF7F6D;
}

.section-7__title > span {
  font-family: Monument Extended;
  font-style: normal;
  font-weight: normal;
  font-size: 39px;
  line-height: 47px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #333334;
  position: relative;
}

.section-7__title > span::after {
  content: "";
  position: absolute;
  width: 224px;
  height: 2px;
  border-radius: 1px;
  background-color: #000000;
  left: -280px;
  top: 22px;
}

.section-7__title > span::before {
  content: "";
  position: absolute;
  width: 224px;
  height: 2px;
  border-radius: 1px;
  background-color: #000000;
  left: 591px;
  top: 22px;
}

.section-7__main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 80px;
}

.section-7 .section-7__price {
  width: 462px;
  height: 976px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #ECECEC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 66px 6px 39px 7px;
}

@media (max-width: 768px) {
  .section-7 .section-7__price {
    width: 100%;
  }
}

.section-7 .section-7__price-title {
  width: 100%;
  font-family: Montserrat;
  font-style: normal;
  text-align: center;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
}

.section-7 .section-7__price-title > p {
  margin: 0;
}

.section-7 .section-7__price-title > p:first-child {
  font-weight: 900;
  font-size: 44px;
  line-height: 139.5%;
  letter-spacing: -0.02em;
  color: #EF7F6D;
}

.section-7 .section-7__price-title > p:nth-child(2) {
  font-weight: normal;
  font-size: 30px;
  line-height: 183%;
  letter-spacing: 0.5em;
  color: #767676;
  margin: 13px 0;
}

.section-7 .section-7__price-title > p:nth-child(3) {
  font-weight: normal;
  font-size: 28px;
  line-height: 150%;
  text-transform: lowercase;
  color: #333334;
}

.section-7 .section-7__price-title > p:last-child {
  font-weight: bold;
  font-size: 43px;
  line-height: 52px;
  letter-spacing: -0.02em;
  color: #1ABC9C;
  margin-top: 46px;
}

.section-7 .section-7__price-title > p:last-child > span {
  font-weight: normal;
}

.section-7 .section-7__price .first-price-text {
  margin-top: 53px;
}

.section-7 .section-7__price .first-price-text > p:last-child {
  border-bottom: none;
}

.section-7 .section-7__price .center-price-text {
  margin-top: 38px;
}

.section-7 .section-7__price .center-price-text > p:last-child {
  border-bottom: none;
}

.section-7 .section-7__price .last-price-text {
  margin-top: 63px;
}

.section-7 .section-7__price .section-7__price-text {
  width: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.02em;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #3D3D3D;
}

@media (max-width: 1024px) {
  .section-7 .section-7__price .section-7__price-text {
    font-size: 16px;
  }
}

.section-7 .section-7__price .section-7__price-text > p {
  margin: 0;
  padding: 25px 0;
  border-bottom: 1px solid #EAEAEA;
  border-top: 1px solid #EAEAEA;
}

.section-7 .section-7__price button {
  background: #EF7F6D;
  border: none;
  padding: 22px 17.5px;
}

@media (max-width: 768px) {
  .section-7 .section-7__price button {
    padding: 22px 80px;
  }
}

@media (max-width: 480px) {
  .section-7 .section-7__price button {
    width: 100%;
  }
}

.section-7 .center-price {
  border: 5px solid #EF7F6D;
  -webkit-box-shadow: 0px 4px 20px rgba(235, 235, 235, 0.5);
          box-shadow: 0px 4px 20px rgba(235, 235, 235, 0.5);
}

@media (max-width: 768px) {
  .section-7 .center-price {
    border: 2px solid #ECECEC;
  }
}

@media (max-width: 1024px) {
  .section-7__title > p {
    font-size: 80px;
  }
  .section-7__title > span {
    font-size: 35px;
    font-weight: normal;
  }
  .section-7__title > span::after {
    width: 120px;
    left: -149px;
  }
  .section-7__title > span::before {
    width: 120px;
    left: 505px;
  }
}

@media (max-width: 768px) {
  .section-7__main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-7__title > p {
    font-size: 60px;
  }
  .section-7__title > span {
    font-size: 28px;
    font-weight: normal;
  }
  .section-7__title > span::after {
    width: 93px;
    left: -120px;
  }
  .section-7__title > span::before {
    width: 93px;
    left: 408px;
  }
}

@media (max-width: 480px) {
  .section-7__title > p {
    margin: 0;
    text-align: left;
    font-size: 60px;
    -webkit-transform: translateX(-66px) translateY(25px);
            transform: translateX(-66px) translateY(25px);
  }
  .section-7__title > span {
    font-size: 20px;
    text-align: left;
    font-weight: normal;
  }
  .section-7__title > span::after {
    width: 72.5px;
    left: -86px;
    top: -1px;
  }
  .section-7__title > span::before {
    display: none;
  }
}
/*# sourceMappingURL=section-7.css.map */